<mat-toolbar style="background-color:#1F2833; color: #DEF2F1;" class="mat-elevation-z6" class="fixed-header">
    <span style="font-family: muli,senserif; font-weight: bold;"><mat-icon> book </mat-icon> piper learn</span>
    <div class="spacer"></div>
    <a mat-button routerLink="/dashboard">
        <mat-icon>home</mat-icon>
    </a>
    <a mat-button routerLink="/dashboard/code-section/html">Html</a>
    <a mat-button routerLink="/dashboard/code-section/css">Css</a>
    <a mat-button routerLink="/dashboard/code-section/cpp">C++</a>
    <a mat-button routerLink="/dashboard/code-section/angular">Angular</a>

</mat-toolbar>
<router-outlet></router-outlet>