<footer class="footer-one" style="display: flex; flex-direction:column;">
    <ul style=" display: flex; flex-direction: row; width: auto; list-style:none;">
        <a routerLink="##">
            <li>About US</li>
        </a>
        <a routerLink="##">
            <li>Services</li>
        </a>
        <a  routerLink="##">
            <li>Get In Touch</li>
        </a>
        <a routerLink="##">
            <li>Career</li>
        </a>
        <a routerLink="##">
            <li>Work</li>
        </a>

    </ul>
    <ul style=" display: flex; flex-direction: row; list-style: none;">
        <a routerLink="##">
            <li><img src="/assets/poper.png" style="height:40px; width:40px;"></li>
        </a>
        <a routerLink="##">
            <li><img src="/assets/facebook.png" style="height:40px; width:40px;"></li>
        </a>
        <a routerLink="##">
            <li><img src="/assets/youtube.png" style="height:40px; width:40px;"></li>
        </a>
        <a href="https://github.com/devendra-alt/eLearningSite">
            <li><img src="/assets/github.png" style="height:40px; width:40px;"></li>
        </a>
        <a routerLink="##">
            <li><img src="/assets/stack-overflow.png" style="height:40px; width:40px;"></li>
        </a>

    </ul>
    <h1 style="margin: auto; color: white; font-size:1.7rem; letter-spacing:5px;">&copy;Copyright 2020-All Rights
        Reserved</h1>
</footer>