<!-- ======= Hero Section ======= -->
<section id="hero" style="padding-top:63px;">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url('./assets/bg1.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content container">
                            <h2>Welcome to <span>Pide plate</span></h2>
                            <p>Pide plat is a web developers site, with tutorials and references on web development languages such as HTML, CSS, C++, Angular web programming. It also provide easy syntax with attractive look.
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Hero -->


<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Languages</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-5 icon-box" data-aos="fade-up">
                <div class="icon">
                    <i> 
                                <img src="./assets/html.png" style="height: 50px; padding-bottom: 5px;">
                            </i>
                </div>
                <h4 class="title"><a routerLink="/dashboard/code-section/html">HTML</a></h4>
                <p class="description">HTML is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by Cascading Style Sheets and JavaScript.</p>
            </div>

            <div class="col-lg-3 col-md-5 icon-box" data-aos="fade-up">
                <div class="icon"><i> <img src="./assets/css.png" style="height: 50px; padding-bottom: 5px;"></i></div>
                <h4 class="title"><a routerLink="/dashboard/code-section/css">CSS</a></h4>
                <p class="description">Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language such as HTML.</p>
            </div>

            <div class="col-lg-3 col-md-5 icon-box" data-aos="fade-up">
                <div class="icon"><i> <img src="./assets/cpp_logo.png" style="height: 50px; padding-bottom: 5px;"></i></div>
                <h4 class="title"><a routerLink="/dashboard/code-section/cpp">C++</a></h4>
                <p class="description">C++ is a general-purpose programming language created by Bjarne Stroustrup as an extension of the C programming language, or "C with Classes".</p>
            </div>

            <div class="col-lg-3 col-md-5 icon-box" data-aos="fade-up">
                <div class="icon"><i> <img src="./assets/angular-icon.svg" style="height: 50px; padding-bottom: 5px;"></i></div>
                <h4 class="title"><a routerLink="/dashboard/code-section/angular">Angular</a></h4>
                <p class="description">Angular is a TypeScript-based open-source web application framework led by the Google and by a community of individuals and corporations.</p>
            </div>
        </div>

    </div>
</section>
<!-- End Services Section -->