<nav class="navbar navbar-nav" style="margin-top: 0%; margin-top: 0; background-color: black;">
    <a class="nav-link ml-5 mr-auto bold" href="dashboard/home">Home</a>
</nav>
<section class="our-webcoderskull padding-lg">

    <div class="container">
        <div class="row heading heading-icon">
            <h2>Our Team</h2>
        </div>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="/assets/sh.jpeg" class="img-responsive" alt=""></figure>
                    <h3><a href="http://www.webcoderskull.com/">Shaurya</a></h3>
                    <p>Freelance Web Developer</p>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="/assets/pd.jfif" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Devendra</a></h3>
                    <p>Freelance Web Developer</p>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="/assets/pratik.jpeg" class="img-responsive" alt=""></figure>
                    <h3>
                        <a href="/assets/pratik.jpeg">Pratik </a>
                    </h3>
                    <p>Freelance Web Developer</p>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="/assets/sm.jpeg" class="img-responsive" alt=""></figure>
                    <h3>
                        <a href="http://www.webcoderskull.com/">Samil </a>
                    </h3>
                    <p>Freelance Web Developer</p>
                </div>
            </li>
        </ul>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="/assets/aamir.jpeg" class="img-responsive" alt=""></figure>
                    <h3><a href="/assets/aamir.jpeg">Aamir</a></h3>
                    <p>Freelance Web Developer</p>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
                    <h3>
                        <a href="#">Darshan </a>
                    </h3>
                    <p>Freelance Web Developer</p>

                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                    <h3><a href="http://www.webcoderskull.com/">Mehul</a></h3>
                    <p>Freelance Web Developer</p>
                </div>
            </li>
        </ul>
    </div>
</section>