input.ng-invalid{
    border-left: 20px solid red;
}
input.ng-valid{
    border-left: 20px solid green;
}
.mmds{
    margin-left:70px;
    background-color: darkgreen;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}