<mat-toolbar style="background-color:#1F2833; color: #DEF2F1;" class="mat-elevation-z6" class="fixed-header">
    <span style="font-family: muli,senserif; font-weight: bold;"><mat-icon> book </mat-icon> pide-plat</span>
    <div class="spacer"></div>
    <a mat-button routerLink="/"><mat-icon>home</mat-icon></a>
    <a mat-button routerLink="/html-tutorial">Html</a>
    <a mat-button routerLink="/c-tutorial" >Css</a>
    <a mat-button routerLink="/cpp-tutorial">C++</a>
    <a mat-button routerLink="/angular-tutorial">Angular</a>
    
 </mat-toolbar>
 
