form {
    border: 3px solid #f1f1f1;
    height: 500px;
    background-color: white;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  body{
    background-color: #4caf4fc5;
    height: 550px;
    width: 100%fit-content;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
    border-radius: 20px;
  border: 1px solid #4CAF50;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .siupbtn {
    width: auto;
    padding:auto;
    background-color: #2b94d1c9;
    display: inline-flex;
    float: right;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    height: 120px;
    width: 300px;
    margin-left: auto;
    margin-right: auto; 
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 0%;
    
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;

  }
  
  /* The "Forgot password" text */
  span.psw {
    float: none;
    margin-top: 5px;
   
  }
  a{
      text-decoration: none;
      color: black;
      float: left;
      margin-top: 20px;
      margin-left: 20px;
  }
  a:hover{
      background-color: #4CAF50;
      padding:5px;
      color: white;
  }
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
  
    .siupbtn {
      width: 100%;
    }
  }

.containers{
height: 60px;
width: 400px;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;

padding-right: 20px;
  }