<body><form action="action_page.php" method="post">
    <div class="imgcontainer">
        
      <img src="./assets/elearningl.png" alt="Avatar" class="avatar">
      
    </div>  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required [(ngModel)]="username">
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required [(ngModel)]="password">
  
      <button type="submit" (click)="LoginUser()">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="containers" style="background-color:#f1f1f1">
     
      <a href="#" routerLink="homenavbar"> Forgot password?</a>
      <button type="button" class="siupbtn">Sign Up</button>
    </div>
</form>
</body>
