<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/dashboard/home">Home</a>

</nav>
<div class="container" style="margin-left: auto; margin-right: auto;">
    <div class="row">
        <div class=" col-sm-2 p-2 m-2">
            <div class="card " style="margin: 20px 20px 20px 20px; ">
                <img class=" card-img-top img-fluid " src="/assets/ang1.jfif " alt="Card image cap ">
                <div class="card-block text-center">
                    <h4 class="card-title ">ng-Angular</h4>
                    <button class="btn btn-primary " (click)="downloadPdf('./assets/sample.pdf','angular')">Download</button>
                </div>
            </div>
        </div>
        <div class=" col-sm-2 p-2 m-2 ">
            <div class="card " style="margin: 20px 20px 20px 20px; ">
                <img class=" card-img-top img-fluid " src="/assets/c++1.jfif " alt="Card image cap ">
                <div class="card-block text-center ">
                    <h4 class="card-title ">C++</h4>
                    <button class="btn btn-primary " (click)="downloadPdf('./assets/sample2.pdf','c++')">Download</button>
                </div>
            </div>
        </div>
        <div class=" col-sm-2 p-2 m-2 ">
            <div class="card " style="margin: 20px 20px 20px 20px; ">
                <img class=" card-img-top img-fluid " src="/assets/java.jfif " alt="Card image cap ">
                <div class="card-block text-center ">
                    <h4 class="card-title ">JAVA</h4>
                    <button class="btn btn-primary " (click)="downloadPdf('./assets/sample3.pdf','your_pdf_file')">Download</button>
                </div>
            </div>
        </div>
        <div class=" col-sm-2 p-2 m-2 ">
            <div class="card " style="margin: 20px 20px 20px 20px; ">
                <img class=" card-img-top img-fluid " src="/assets/js.jfif " alt="Card image cap ">
                <div class="card-block text-center ">
                    <h4 class="card-title ">JavaScript</h4>
                    <button class="btn btn-primary " (click)="downloadPdf('./assets/sample.pdf','your_pdf_file')">Download</button>
                </div>
            </div>
        </div>
        <div class=" col-sm-2 p-2 m-2 ">
            <div class="card " style="margin: 20px 20px 20px 20px; ">
                <img class=" card-img-top img-fluid " src="/assets/ds.jfif " alt="Card image cap ">
                <div class="card-block text-center ">
                    <h4 class="card-title ">Ds</h4>
                    <button class="btn btn-primary " (click)="downloadPdf('./assets/sample.pdf','your_pdf_file')">Download</button>
                </div>
            </div>
        </div>
    </div>
</div>