<p>products works!</p>
<section class="jumbotron text-center" style="background-color:#88ff4d;">
    <div class="container">
        <h1 class="jumbotron-heading"><b>PiedPiper</b><br><small>Pie-Shop</small></h1>
        <p class="lead text-muted mb-0"></p>
    </div>
</section>
<div class="row">

    <div class="col">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4" *ngFor="let productsarray of productsxyz">
                <app-productitem [productsItem]="productsarray"></app-productitem>
            </div>
        </div>
    </div>
</div>