.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}
.pagination {
    margin-top: 20px;
}
footer {
    background: #343a40;
    padding: 40px;
}
footer a {
    color: #f8f9fa!important
}
.products21{
    margin-top:150px;
}
.music-slider{
    width:95%;
    height:auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
   
    margin-top:40px;
    

}.music-slider div{
    width:33%;
    height:300px;
    margin:3px;
    border-radius:20%;
    transition:0.6s ease-in-out;

}
.music-slider #slide0{
    width:19%;
    height:200px;
    margin:3px;
    border-radius:20%;
    margin-right:-50px;
}

.music-slider #slide1{
    width:25%;
    height:250px;
    margin:3px;
    border-radius:20%;
    margin-right:-100px;
 
}
.music-slider #slide2{
      width:30%;
    height:300px;
    margin:3px;
    border-radius:20%;
   
    z-index:2;
}
.music-slider #slide3{
    width:25%;
    height:250px;
    margin:3px;
    border-radius:20%;
    margin-left:-100px;
    z-index: 1;
}
.music-slider #slide1234{
    width:19%;
    height:200px;
    margin:3px;
    border-radius:20%;
    margin-left:-60px;
   
}

.music-slider div:hover{
    transform: scale(1.3);
        z-index:5;

}
.music-slider #slide1:hover{
    transform: scale(1.5);
    margin-right:-210px;


}
.music-slider #slide3:hover{
    transform: scale(1.5);
    margin-left:-225px;
    z-index: 3;


}
.music-slider #slide0:hover{
    transform: scale(1.9);
    margin-right:-225px;
    
}
.music-slider #slide1234:hover{
    transform: scale(1.8);
    margin-left:-225px;
}