
<section class="jumbotron text-center products21" style="background-color:#88ff4d;"  style="height: 450px;">
    <h1 style="position: relative; bottom: 50px; font-family: 'Grenze Gotisch', cursive; font-size: 2.8rem;">Upcomming Courses</h1>
    <div class="music-slider" style="margin: 0px; position: relative; bottom: 20px;">
        <div id="slide0"><a routerLink="##">
    
    
                <img src="/assets/nodejs-512.png" height="100%"
                    width="100%" style="border-radius:10%;"></a></div>
        <div id="slide1"><a href="index2.html">
                <img src="/assets/10566080.png" height="100%"
                    width="100%" style="border-radius:10%;"></a></div>
        <div id="slide2"><a href="index2.html">
                <img src="/assets/4223.png" height="100%"
                    width="100%" style="border-radius:10%;"></a></div>
        <div id="slide3"><a href="index2.html">
                <img src="/assets/flutter.png" height="100%" width="100%"
                    style="border-radius:10%;"></a></div>
        <div id="slide1234"><a href="index2.html">
                <img src="/assets/adobe-xd-1869035-1583159.webp" height="100%" width="100%"
                    style="border-radius:10%;"></a></div>
    </div>
</section>
<div class="row">

    <div class="col">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4" *ngFor="let productsarray of productsxyz">
                <app-productitem [productsItem]="productsarray"></app-productitem>
            </div>
        </div>
    </div>
</div>