<div *ngIf="cartItems.length === 0" class="alert alert-danger cart21" role="alert">
    Your cart is empty!
</div>
<div *ngIf="cartItems.length" class="alert alert-success cart21" role="alert">
    Items in yout cart.

</div>

<ul *ngIf="cartItems.length > 0" class="list-group">
    <li class="list-group-item" *ngFor="let items of cartItems">
        <app-cart-list [cartItems]="items"></app-cart-list>
    </li>
<ul class="list-group">
 
</ul>

    
    <li class="list-group-item" style="background-color:#00FF00 ;"><strong>Amount:<br>
            {{cartTotalo |currency:'INR'}}</strong></li>
</ul>
<br>
<div *ngIf="cartItems.length">
    <button type="button" class="btn btn-danger btn-lg" a href="##" routerLink="/dashboard/check">CheckOut</button>

</div>