<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger ml-0 mr-auto" href="#page-top"><img src="assets/logo.png" alt="alphaLogo"></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto mr-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/sign-in" [routerLinkActive]="['active']" fragment="form">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<form class="container container-fluid shadow-lg">
    <h2>Sign Up</h2>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email Address" #userEmail required autocomplete="off">
    </div>

    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" #userPwd required autocomplete="off">
    </div>

    <div class="form-group">
        <input type="button" value="Sign-Up" class="btn btn-primary form-control" (click)="authService.SignUp(userEmail.value, userPwd.value)">
    </div>

    <div class="form-group">
        <span class="or"><span class="orInner">Or</span></span>
    </div>

    <!-- Continue with Google -->
    <div class="form-group">
        <button type="button" class="btn googleBtn form-control" (click)="authService.GoogleAuth()">
                <i class="fab fa-google-plus-g"></i>
                Continue with Google
              </button>
    </div>
    <div class="form-group"><span>Already have an account?</span> <br><br><a class="form-control btn btn-secondary" routerLink="/sign-in">Log In</a>
    </div>
</form>
<footer class="py-5 bg-dark fixed" id="footer">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; eLearningSite 2020</p>
    </div>
</footer>