<form class="container container-fluid shadow-lg">
    <h2>Reset Password</h2>


    <p class="text-center">Please enter your email address to request a password reset.</p>

    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
    </div>

    <!-- Calling ForgotPassword from AuthService Api -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary form-control" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
    </div>
    <div class="form-group">
        <span>Go back to ? <a routerLink='/sign-in'>Login</a> </span>
    </div>

</form>