<header class="main-header">
    <div class="div-header">
        <img src="/assets/logo.png" alt="logo">
        <h1 style="color:green; font-size: 30px;  position: relative;
     right:100px; top: 30px;">.Org</h1>
        <ul>
            <li><a href="##">|HOME|</a></li>
            <li><a href="##">|CONTACT|</a></li>
            <li><a href="##">|EDUCTION|</a></li>
            <li><a href="##">|COPYRIGHTS|</a></li>
            <li><a href="##" routerLink="/login" style="background-color: green; color:white;">|LOG-IN|</a></li>
            <li><a href="#" style="background-color: green; color:white;">|SIGN-UP|</a></li>
        </ul>
    </div>
</header>
<section class="main-section">
    <main class="main-main">
        <div class="main-logo">
            <img src="/assets/icons8-pied-piper-2-480.png" id="pie-logo">
            <h1 id="piedpiper"><sub style="color: green;" class="pop">P</sub>ie<sup>d</sup>Pip<sup>e</sup>r</h1>
        </div>
        <div class="main-moto">
            <h1 style="position: relative; top:100px; font-size:2.7rem;"><span style="color:green;">#</span>Eduction For
                Everyone</h1>
        </div>
        <hr class="upper-hr">
        <div class="pie-language">
            <div class="c++"><img src="/assets/icons8-c++-240.png" style="height:120px; width:120px;"></div>
            <div class="java"><img src="/assets/icons8-java-240.png" style="height:120px; width:120px;"></div>
            <div class="html"><img src="/assets/icons8-html-5-240.png" style="height:120px; width:120px;"></div>
            <div class="css"><img src="/assets/icons8-css3-256.png" style="height:120px; width:120px;"></div>
            <div class="javascript"><img src="/assets/icons8-javascript-240.png" style="height:120px; width:120px;">
            </div>
            <div class="angular"><img src="/assets/icons8-angularjs-240.png" style="height:120px; width:120px;"></div>
        </div>
        <hr class="upper-hr">
        <h1 id="headind-select">SELECT OPTION FROM BELOW </h1>
        <div class="button-div">

            <a href="##" id="pie-learn">
                <div>
                    <h1 style="text-align: center; font-size:1.8rem; position: relative; bottom:20px;">PIE-PLAT</h1>
                    <img src="/assets/icons8-pied-piper-240.png" class="pp-icon">
                </div>
            </a>
            <a href="##" id="pie-resources">
                <div>
                    <h1 style="text-align: center; font-size: 1.8rem; position: relative; bottom:20px;">PIE-RESOURCES
                    </h1>
                    <img src="/assets/icons8-pied-piper-5-256.png" class="pp-icon">
                </div>
            </a>
        </div>
        <div class="outer-card">
            <div id="card-1">
                <h2>Contact</h2>
                <button>Know More</button>
            </div>
            <div id="card-2">
                <h2>pp details</h2>
                <button>Know More</button>

            </div>
            <div id="card-3">
                <h2>pr details</h2>
                <button>Know More</button>
            </div>
            <div id="card-4">
                <h2>information</h2>
                <button>Know More</button>
            </div>
            <div id="card-5">
                <h2>help</h2>
                <button>Know More</button>
            </div>
            <div id="card-6">
                <h2>Donation</h2>
                <button>Know More</button>
            </div>
        </div>
        <footer class="last-footer">
            <h1
                style="position: absolute; left:50px; font-size: 2.5rem; text-transform: uppercase; text-decoration: none; color:#876635 ;">
                The Site Of our Organization</h1>
            <div id="info-1">
                <h1>SERVICES</h1>
                <h2>|Email-Marketing|</h2>
                <h2>|Eduction|</h2>
                <h2>|Downloadable Resources|</h2>
                <h2>|Offline|</h2>
            </div>
            <div id=info-2>
                <h1>ABOUT</h1>
                <h2>|Our Story|</h2>
                <h2>|Benefits|</h2>
                <h2>|Team|</h2>
                <h2>|Career|</h2>
            </div>
            <div id="info-3">
                <h1>LEGAL</h1>
                <h2>|Terms&Condition|</h2>
                <h2>|Privacy Policy|</h2>
                <h2>|Term Of Use|</h2>
            </div>
            <div id="your-comments">
                <h1>Comment</h1>
                <input type="email" id="piper-email" placeholder="EMAIL">
                <textarea placeholder="WRITE YOUR COMMENT HERE" rows="10"></textarea>
                <button>SEND</button>
            </div>
        </footer>

    </main>

</section>

