<header class="main-header">
    <div class="div-header">
        <img src="/assets/logo.png" alt="logo">
        <h1 style="color:green; font-size: 30px;  position: relative;
     right:100px; top: 30px;">.Org</h1>
        <ul>
            <li><a href="dashboard/home-page">HOME</a></li>
            <li><a href="##">CONTACT</a></li>
            <li><a href="dashboard/code-section">EDUCTION</a></li>
            <li><a href="##">COPYRIGHTS</a></li>
            <li style="margin-left: 20px;"><button type="button" class="btn btn-outline-success" (click)="authService.SignOut()">SignOut</button></li>
            <button type="button" class="btn btn-primary btn-lg" style="margin-left:50px;">PiedPiper-Shop Ver 0.1 Beta</button>
        </ul>
    </div>
</header>
<section class="main-section">
    <main class="main-main">
        <div class="main-logo">
            <img src="/assets/icons8-pied-piper-2-480.png" id="pie-logo">
            <h1 style="font-size: 7rem; font-weight: bolder;"><span style="color: #388d3c;">P</span>piedPiper</h1>
        </div>
        <div class="main-moto">
            <h1 style="position: relative; top:100px; font-size:2.7rem; color: #388d3c;"><span style="color:green;">#</span>Eduction For Everyone
            </h1>
        </div>

        <hr class="upper-hr">
        <div class="pie-language" style=" width: 100%;">
            <div class="c++"><img src="/assets/icons8-c++-240.png" style="height:120px; width:120px;"></div>
            <div class="java"><img src="/assets/icons8-java-240.png" style="height:120px; width:120px;"></div>
            <div class="html"><img src="/assets/icons8-html-5-240.png" style="height:120px; width:120px;"></div>
            <div class="css"><img src="/assets/icons8-css3-256.png" style="height:120px; width:120px;"></div>
            <div class="javascript"><img src="/assets/icons8-javascript-240.png" style="height:120px; width:120px;">
            </div>
            <div class="angular"><img src="/assets/icons8-angularjs-240.png" style="height:120px; width:120px;"></div>
        </div>
        <hr class="upper-hr">

        <h1 id="headind-select">SELECT OPTION FROM BELOW </h1>
        <div class="button-div">

            <a routerLink="/code" id="pie-learn">
                <div>
                    <h1 style="text-align: center; font-size:1.8rem; position: relative; bottom:-15px;">PIED-LEARN</h1>
                    <img src="/assets/icons8-pied-piper-240.png" class="pp-icon">
                </div>
            </a>
            <a routerLink="/pdf-resource" id="pie-resources">
                <div>
                    <h1 style="text-align: center; font-size: 1.6rem; position: relative; bottom:-15px;">PIED-RESOURCES
                    </h1>
                    <img src="/assets/icons8-pied-piper-5-256.png" class="pp-icon">
                </div>
            </a>
        </div>
        <div class="card-inweb">
            <!-- Team -->
            <section id="team" class="pb-5">
                <div class="container">
                    <h5 class="section-title h1">Information</h5>
                    <div class="row">
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip">
                                <div class="mainflip flip-0">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="card-title" style="position: relative; top:90px; font-size: 4rem;">Contacts</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Contacts</h4>
                                                <p class="card-text">
                                                    <a href="##" style="font-size: 2rem;">+91 9988774455</a><br>
                                                    <a href="##" style="font-size: 2rem;">+91 8895536484</a><br>
                                                    <a href="##" style="font-size: 2rem;">+91 8913625123</a><br>
                                                    <a href="##" style="font-size: 2rem;">+91 6544531548</a>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip">
                                <div class="mainflip flip-0">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="card-title" style="position: relative; top:90px; font-size: 4rem;">Location</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Location</h4>
                                                <p class="card-text" style="font-size:2rem; text-decoration: underline;">
                                                    Mr Pied Piper<br> Ceo Of Pied Piper<br> Pied Organization<br> 696 Pied Platro<br> Mumbai,India 487451<br>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip">
                                <div class="mainflip flip-0">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="card-title" style="position: relative; top:90px; font-size: 4rem;">Our Goal</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Goal</h4>
                                                <p class="card-text" style="font-size:1.5rem; ">
                                                    Our goal is to make every one educate<br> in field of information technology and <br> comuputer science.

                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Team member -->


                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip">
                                <div class="mainflip flip-0">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="card-title" style="position: relative; top:90px; font-size: 4rem;">Financial Aid</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Financial Aid</h4>
                                                <p class="card-text" style="font-size:1.6rem;">
                                                    It's also really important that one of our goals includes a plan to deal with financial eduction aid. Because it's ones rigth to get eduction.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip">
                                <div class="mainflip flip-0">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="card-title" style="position: relative; top:90px; font-size: 4rem;">Creators</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Creators</h4>
                                                <p class="card-text" style="font-size:1.6rem;">
                                                    Aamir balawala<br> Darshan Gaddam<br> Shaurya Kajiwala<br> Devendra Mulewa<br> Pratik Sondagar<br> Mehul Vaghela<br> Semil Khedawala<br>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip">
                                <div class="mainflip flip-0">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="card-title" style="position: relative; top:90px; font-size: 4rem;">Donation</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Donation</h4>
                                                <p class="card-text" style="font-size:1.6rem;">
                                                    If you want to make a donation you are free do it.<br> It will be helpful for us to complete our goals quickly<br> efficiently.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- Team -->


        </div>
        <footer class="footer-one" style="display: flex; flex-direction:column;">
            <ul style=" display: flex; flex-direction: row; width: auto; list-style:none;">
                <a href="">
                    <li>About US</li>
                </a>
                <a href="">
                    <li>Services</li>
                </a>
                <a href="">
                    <li>Get In Touch</li>
                </a>
                <a href="">
                    <li>Career</li>
                </a>
                <a href="">
                    <li>Work</li>
                </a>

            </ul>
            <ul style=" display: flex; flex-direction: row; list-style: none;">
                <a href="##">
                    <li><img src="/assets/poper.png" style="height:40px; width:40px;"></li>
                </a>
                <a href="##">
                    <li><img src="/assets/facebook.png" style="height:40px; width:40px;"></li>
                </a>
                <a href="##">
                    <li><img src="/assets/youtube.png" style="height:40px; width:40px;"></li>
                </a>
                <a href="https://github.com/devendra-alt/eLearningSite">
                    <li><img src="/assets/github.png" style="height:40px; width:40px;"></li>
                </a>
                <a href="##">
                    <li><img src="/assets/stack-overflow.png" style="height:40px; width:40px;"></li>
                </a>

            </ul>
            <h1 style="margin: auto; color: white; font-size:1.7rem; letter-spacing:5px;">&copy;Copyright 2020-All Rights Reserved</h1>
        </footer>

    </main>

</section>