<section class="main-section">


    <main class="main-main">

        <div class="main-logo">
            <div style="text-align: center;">
                <p style="position: absolute; top:150px; 
                 left:440px; font-size: 2rem; letter-spacing: 
                 5px;  
                 line-height:50px;
                  color: #876635;font-family: 'Luckiest Guy', cursive;">We envision a world where anyone, anywhere <br>can transform their life by accessing <br>best learning experience.</p>
            </div>
            <img src="/assets/icons8-pied-piper-2-480.png" id="pie-logo" style="position:relative; bottom: 200px; left:10px">
            <h1 style="font-size: 7rem; font-weight: bolder; position: relative; bottom: 90px; font-family: 'Righteous', cursive; position: relative; left:20px;" class="piedtext"><span style="color: #388d3c;font-size:7rem; ">P</span>iedPiper</h1>
        </div>
        <div class="main-moto">
            <h1 style="position: relative; font-size:2.7rem; bottom: 30px; color: #388d3c;"><span style="color:green;">#</span>Eduction For Everyone
            </h1>
        </div>
        <hr class="upper-hr">
        <div class="pie-language" style=" width: 100%;">
            <div class="c++"><img src="/assets/icons8-c++-240.png" style="height:120px; width:120px;"></div>
            <div class="java"><img src="/assets/icons8-java-240.png" style="height:120px; width:120px;"></div>
            <div class="html"><img src="/assets/icons8-html-5-240.png" style="height:120px; width:120px;"></div>
            <div class="css"><img src="/assets/icons8-css3-256.png" style="height:120px; width:120px;"></div>
            <div class="javascript"><img src="/assets/icons8-javascript-240.png" style="height:120px; width:120px;">
            </div>
            <div class="angular"><img src="/assets/icons8-angularjs-240.png" style="height:120px; width:120px;"></div>
        </div>
        <hr class="upper-hr">

        <h1 id="headind-select">SELECT OPTION FROM BELOW </h1>
        <div class="button-div">

            <a routerLink='/dashboard/code-section' id=" pie-learn ">
                <div>
                    <h1 style="text-align: center; font-size:1.8rem; position: relative; bottom:-15px; ">PIED-LEARN</h1>
                    <img src="/assets/icons8-pied-piper-240.png " class="pp-icon ">
                </div>
            </a>
            <a href="/dashboard" id="pie-resources ">
                <div>
                    <h1 style="text-align: center; font-size: 1.6rem; position: relative; bottom:-15px; ">PIED-RESOURCES
                    </h1>
                    <img src="/assets/icons8-pied-piper-5-256.png " class="pp-icon ">
                </div>
            </a>


        </div>
        <div class="card-inweb ">
            <!-- Team -->
            <section id="team " class="pb-5 ">
                <div class="container ">
                    <h5 class="section-title h1 " style="font-size: 3rem;">Information</h5>
                    <div class="row ">
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <div class="image-flip ">
                                <div class="mainflip flip-0 ">
                                    <div class="frontside ">
                                        <div class="card ">
                                            <div class="card-body text-center ">
                                                <h4 class="card-title " style="position: relative; top:90px; font-size: 4rem; ">Contacts</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside ">
                                        <div class="card ">
                                            <div class="card-body text-center mt-4 ">
                                                <h4 class="card-title " style="font-size: 2rem;">Contacts</h4>
                                                <p class="card-text " style="line-height: 40px;">
                                                    <a href="## " style="font-size: 2rem; ">+91 9988774455</a><br>
                                                    <a href="## " style="font-size: 2rem; ">+91 8895536484</a><br>
                                                    <a href="## " style="font-size: 2rem; ">+91 8913625123</a><br>
                                                    <a href="## " style="font-size: 2rem; ">+91 6544531548</a>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <div class="image-flip ">
                                <div class="mainflip flip-0 ">
                                    <div class="frontside ">
                                        <div class="card ">
                                            <div class="card-body text-center ">
                                                <h4 class="card-title " style="position: relative; top:90px; font-size: 4rem; ">Location</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside ">
                                        <div class="card ">
                                            <div class="card-body text-center mt-4 ">
                                                <h4 class="card-title " style="font-size: 2rem;">Location</h4>
                                                <p class="card-text " style="font-size:2rem; text-decoration: underline;  line-height: 40px; font-weight: lighter;">
                                                    Mr Pied Piper<br> Ceo Of Pied Piper<br> Pied Organization<br> 696 Pied Platro<br> Mumbai,India 487451<br>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <div class="image-flip ">
                                <div class="mainflip flip-0 ">
                                    <div class="frontside ">
                                        <div class="card ">
                                            <div class="card-body text-center ">
                                                <h4 class="card-title " style="position: relative; top:90px; font-size: 4rem; ">Our Goal</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside ">
                                        <div class="card ">
                                            <div class="card-body text-center mt-4 ">
                                                <h4 class="card-title " style="font-size: 2rem;">Goal</h4>
                                                <p class="card-text " style="font-size:1.5rem; line-height: 40px; ">
                                                    Our goal is to make every one educate<br> in field of information technology and <br> comuputer science.

                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <div class="image-flip ">
                                <div class="mainflip flip-0 ">
                                    <div class="frontside ">
                                        <div class="card ">
                                            <div class="card-body text-center ">
                                                <h4 class="card-title " style="position: relative; top:90px; font-size: 4rem; line-height: 70px; ">Financial Aid</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside ">
                                        <div class="card ">
                                            <div class="card-body text-center mt-4 ">
                                                <h4 class="card-title " style="font-size: 2rem;">Financial Aid</h4>
                                                <p class="card-text " style="font-size:1.6rem; line-height: 35px; ">
                                                    It's also really important that one of our goals includes a plan to deal with financial eduction aid. Because it's ones rigth to get eduction.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <div class="image-flip ">
                                <div class="mainflip flip-0 ">
                                    <div class="frontside ">
                                        <div class="card ">
                                            <div class="card-body text-center ">
                                                <h4 class="card-title " style="position: relative; top:90px; font-size: 4rem; ">Creators</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside ">
                                        <div class="card ">
                                            <div class="card-body text-center mt-4 ">
                                                <h4 class="card-title " style="font-size: 2rem;">Creators</h4>
                                                <p class="card-text " style="font-size:1.6rem; line-height: 30px;">
                                                    Aamir balawala<br> Darshan Gaddam<br> Shaurya Kajiwala<br> Devendra Mulewa<br> Pratik Sondagar<br> Mehul Vaghela<br> Semil Khedawala<br>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 ">
                            <div class="image-flip ">
                                <div class="mainflip flip-0 ">
                                    <div class="frontside ">
                                        <div class="card ">
                                            <div class="card-body text-center ">
                                                <h4 class="card-title " style="position: relative; top:90px; font-size: 4rem; ">Donation</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside ">
                                        <div class="card ">
                                            <div class="card-body text-center mt-4 ">
                                                <h4 class="card-title " style="font-size: 2rem;">Donation</h4>
                                                <p class="card-text " style="font-size:1.6rem; line-height: 40px; ">
                                                    If you want to make a donation you are free do it.<br> It will be helpful for us to complete our goals quickly<br> efficiently.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- Team -->


        </div>

    </main>

</section>