/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    padding-top:150px;
    padding-left:40px;
    padding-right: 40px;   
}
